<!--The content below is only a placeholder and can be replaced.-->
<div class="jumbotron">  
  <div class="container">
    <h1 class="display-3">{{title}}</h1>
  </div>
  <div class="container">
    <button type="button" [ngClass]="did_get_data?'btn btn-primary':'btn btn-success'" (click)="getDataFromEventbriteHelper()">{{data_button}}</button>    
    <button type="button" class="btn btn-info" (click)="redirect()">Authenticate</button>  
    <button type="button" class="btn btn-secondary" (click)="logout()">Logout</button>
    <h6 *ngIf="is_authenticated">Logged In</h6>    
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <table class="table table-hover">
          <thead class="thead-default">
            <tr class="row">
              <th class="col-sm-3">
                <div>Date 
                  <a class="sortable" (click)="sortUpdate()" *ngIf="sort_NewToOld">▲</a>
                  <a class="sortable" (click)="sortUpdate()" *ngIf="!sort_NewToOld">▼</a>    
                </div>             
              </th>
              <th class="col-sm-7">
                <div>Event</div>
              </th>
              <th class="col-sm-2">
                <div>Calendar</div>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr class="row" *ngFor="let cal of my_calevents">
              <td class="col-sm-3">
                {{cal.eventdate | date}}
              </td>
              <td class="col-sm-7">
                <a [href]="cal.url" target="_blank">{{cal.eventname}}</a><hr>
                <span>{{truncateDescription(cal.description)}}</span>
              </td>
              <td class="col-sm-2">
                <button type="button" class="btn btn-info btn-sm" (click)="downloadCalendar(cal)">Download</button>                          
              </td>
            </tr>
          </tbody>
        </table>
    </div>
  </div>
</div>